@if (userIsLogged) {
    <div class="text-center bg-custom-soft-grey">
        <div class="grid md:grid-cols-3">
            <a class="cursor-pointer p-2 bg-custom-mint m-2 rounded-md 
                hover:bg-custom-golden-yellow"  (click)="goToObjectives()">Objectives</a>
            <a class="cursor-pointer p-2 bg-custom-mint m-2 rounded-md 
                hover:bg-custom-golden-yellow"  (click)="goToCalendar()">Calendar</a>
            <a class="cursor-pointer p-2 bg-custom-mint m-2 rounded-md 
                hover:bg-custom-golden-yellow"  (click)="goToAchievments()">Achievments</a>
        </div>
    </div>
}    
